{% extends 'base.html' %}

{% block content %}
    
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us..</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Fastest delivery with quickbite</p>
                </div>
            </div>
</header>
<br>
<br>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cumque sed, sunt quo suscipit corrupti delectus error eos quae ab tempore! Cumque exercitationem nobis molestiae quisquam explicabo in dolorum repudiandae quibusdam modi odio vel autem enim inventore quo et earum voluptatum doloremque eum voluptates recusandae nulla culpa, pariatur, ratione reprehenderit! Reprehenderit, blanditiis quaerat provident eveniet illo, voluptate laboriosam eos dignissimos animi nemo commodi itaque quae quis nulla! <br>
<br> <br>
 Temporibus laborum, quisquam harum possimus alias nostrum numquam hic adipisci aliquid! Nemo expedita accusantium molestiae dolore, nisi optio ad veritatis tempora, fugiat rem reiciendis omnis magni quo similique consequuntur eum. Aspernatur facere earum voluptatem dolores odit, assumenda magni odio eaque velit dicta voluptates harum ipsam! Aperiam ipsam sequi nemo sint amet vel fugiat ex at, dolores veniam earum dolor impedit ipsum nihil maiores labore facere! Incidunt saepe facilis nobis, repellendus quae molestiae numquam voluptate suscipit voluptas natus, deserunt obcaecati explicabo quam sunt aspernatur dolores veniam! Accusantium natus numquam officia? Voluptatem suscipit recusandae obcaecati neque debitis error quae, laudantium veritatis deserunt consequatur incidunt, iure totam dolorum voluptas. Alias error, rem, nesciunt, vel aut voluptas ipsam nam quo minima autem placeat? Autem dicta quod quos minus saepe debitis ea soluta? Ab est id culpa placeat.
            </div>
        </center>
    </div>
</div>

{% endblock %}